.group-detail-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 60px;
}

.grey-p {
    color: grey;
    font-weight: 300;
    font-size: medium;
}


.grey-p span {
    margin-left: 10px;
}
.group-location-events-org {
    margin: 10px 0px;
}

.back-button:hover {
    text-decoration: underline;
}

.section-1-detail {
    width: fit-content;
}


.group-details {
    display: flex;
    margin-bottom: 30px;
}

.group-detail-info {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    margin-left: 30px;
}

.group-detail-info h1 {
    margin-top: 0px;
    margin-bottom: 0px;
    inline-size: 425px;
    overflow-wrap: break-word;
    width: fit-content;
}

.past-upcoming-event-photo {
    width: 140px;
}

.join-group-button {
    width: 150px;
    height: 45px;
    font-size: medium;
    font-weight: bold;
    color: white;
    background-color: rgb(222, 37, 37);
    border-radius: 5px;
    margin-top: 105px;
    border: none;
}
.join-group-button:hover {
    cursor: pointer;
}

/* section 2*/

.group-detail-section-2 {
    display: flex;
    flex-direction: column;
    border-top: 1px solid gray;
}

.section-2-container {
    display: flex;
    flex-direction: column;
    text-align: left;
    max-width: 752px;
}
/* event section */

.past-events, .upcoming-events {
    background-color: #f9f9f9;
    border-radius: 15px;
    height: fit-content;
    margin: 20px 0px;
    margin-top: 10px;
    padding-bottom: 10px;
}

.event-container {
padding: 20px 20px 0px 20px;
display: flex;
flex-direction: row;
}

.location-info {
    color: black;
    margin-left: 10px;
}

.event-time {
    color: rgb(35, 69, 57);
    margin: 0px;
}

.caption-container {
    word-wrap: break-word;
}
.event-caption {
    margin-left: 20px;
    margin-right: 20px;
    font-size: 10px;
    max-height: 50px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    color: black;
    font-weight: 300;
}

.create-event-button {
    background-color: lightgray;
}

.edit-delete-button {
    background-color: gray;
}

.organizer-buttons {
    border: none;
    cursor: pointer;
    border-radius: 3px;
}

.cursor-pointer {
    cursor: pointer;
}

.past-event-container {
    max-width: 550px;
}

.past-event-links {
    text-decoration: none;
}

.upcoming-event-links {
    text-decoration: none;
}

.event-link-container {
    text-decoration: none;
    color: black;
}

.group-detail-col {
    flex-direction: column;
    display: flex;
    align-items: center;
}
