/* TODO Add site wide styles */
body, html {
    margin: 0px;
    padding: 0px;
    /* font-family: 'Nunito', sans-serif; */
    font-family: 'Poppins', sans-serif;
    background-color: rgb(253, 253, 253);
}
