.events-detail-container {
    display: flex;
    flex-direction: column;
    align-items: center;

}

.event-details-section-1 {
    margin-top: 20px;
    width: 100%;
    max-width: 1080px;
    padding-left: 50px;
}

.event-details-section-2 {
    display: flex;
    justify-content: center;
    background-color: rgb(234, 234, 234);
    box-shadow: 0px -2px 10px rgba(50, 50, 50, 0.25);
    border-top: 1px solid lightgray;
    padding: 20px 0px;
    align-items: center;
    margin: 0px;
    width: 100%;
    padding-left: 50px;
}

.main-event-container {
    display: flex;
    width: 100%;
    max-width: 1080px;
}

.event-description {
    position:relative;
    width: 100%;
    max-width: 1080px;
    margin-left: 50px;
}

.back-button-container {
    margin-bottom: 10px;
    margin-left: 5px;
}

.back-to-events-container {
    color: black;
    text-decoration: none;
}

.back-button-events {
    margin-left: 5px;
}

.event-name {
    margin: 10px 0px 0px 0px;
}

.organizer-name {
    color: grey;
    margin-top: 5px;
}

/* section 2 */

.event-image {
    width: 50%;
    border-radius: 10px;
}

.group-image {
    width: 40%;
    border-radius: 5px;
}

.event-side-details {
    margin-left: 30px;
}

.group-info-section {
    background-color: white;
    border-radius: 25px;
    display: flex;
    flex-direction: row;
    width: 80%;
    padding: 20px 20px;
}

.group-name-privacy {
    margin-left: 10px;
    word-wrap: break-word;
}

.group-name {
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 18px;
    font-weight: bold;
}

.group-privacy {
    margin-top: 5px;
    font-size: 16px;
    color: grey;
}

.event-time-price-type {
    background-color: white;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin-top: 15px;
    width: 80%;
    padding: 20px 20px;
}

.flex-column {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.start-end-date {
    margin-left: 20px;
}

.start-date {
    margin-bottom: 0px;
}

.end-date {
    margin-top: 0px;
}

.span-start-date {
    margin-left: 20px;
}

.span-end-date {
    margin-left: 28px;
}

.event-price {
    margin-left: 20px;
}


.event-type-icon {
    margin-left: 8px;
    margin-right: 22px;
}

.event-type {
    padding-left: 6px;
    display: flex;
    justify-content: space-between;
    margin: 0px;

}

.event-group-link {
    color: black;
    text-decoration: none;
    background-color: lightgray;
}
